@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Popping", sans-serif;
}
body{
    background-color: black;
    width: 100%;
    height: 100vh;
}
.header{
    .navbar{
        a{
        font-size: 18px;
        color: white;
        text-decoration: none;
        font-weight: 500;
        margin: 40px;
    }
        .btnLogin-popup{
            position: relative;
            background: transparent;
            border: none;
            outline: none;
            font-size: 25px;
            background-color: transparent;
            padding: 5px;
            backdrop-filter: blur(25px);
            color: white;
            font-weight: 500;
            cursor: pointer;
        }
        .btnLogin-popup::before{
            content: '';
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 100%;
            height: 2px;
            color: white;
            background: white;
            opacity: 0.85;
        }
        .btnLogin-popup:hover{
            color: #fff;
            text-shadow: 0 0 10px #2196f3,
                        0 0 20px #2196f3,
                        0 0 40px #2196f3,
                        0 0 120px #2196f3,
                        0 0 160px #2196f3;
        }
    }
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

#particles-js{
    height: 99vh;
}


.section{
    .prof{
        position: absolute;
        top: 0;
        right: 50px;
        width: 65vh;
    }
    .text{
        h1{
            color: white;
            position: absolute;
            left: 120px;
            top: 240px;
            font-size: 105px;
            line-height: 95px;
            -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
            line-height: 95px;
            outline: none;
            animation: animate 10s linear infinite;
            transition: .8s;
            pointer-events: none;
        }
        @keyframes animate {
            0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
            {
                color: #0e3742;
                text-shadow: none;
            }
            18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
            {
                color: #fff;
                text-shadow: 0 0 10px #03bcf4,
                            0 0 20px #03bcf4,
                            0 0 40px #03bcf4,
                            0 0 80px #03bcf4,
                            0 0 160px #03bcf4;
            }
        }
        .skillh1{
            color: white;
            position: absolute;
            left: 120px;
            top: 150px;
            font-size: 105px;
            line-height: 95px;
            -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
            line-height: 95px;
            outline: none;
            animation: animate 10s linear infinite;
            transition: .8s;
            pointer-events: none;
        }
        @keyframes animate {
            0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
            {
                color: #0e3742;
                text-shadow: none;
            }
            18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
            {
                color: #fff;
                text-shadow: 0 0 10px #03bcf4,
                            0 0 20px #03bcf4,
                            0 0 40px #03bcf4,
                            0 0 80px #03bcf4,
                            0 0 160px #03bcf4;
            }
        }
        p{
            position: absolute;
            left: 120px;
            top: 580px;
            color: white;
            width: 60%;
            text-align: justify;
            font-size: 12px;
            pointer-events: none;
        }
    }
    .wrapper{
        .icon-close{
            font-size: 44px;
            padding: 25px;
        }
        .logreg-box{
            .form-box-menu{
                .but{
                    display: flex;
                    justify-content: center;
                    a{
                        font-size: 28px;
                        text-decoration: none;
                        color: white;
                        font-weight: 700;
                        padding-top: 10px;
                    }
                    a:hover{
                        opacity: 0.4;
                    }
                }
                .logreg-title{
                    h2{
                        font-size: 72px;
                    }
                    p{
                        font-size: 45px;
                        font-weight: 500;
                    }
                    text-align: center;
                    margin-bottom: 40px;
                    color: white;
                }
            }
            width: 100%;
        }
        position: absolute;
        top: 0;
        left: 0;
        width: 450px;
        height: 100%;
        background-color: transparent;
        backdrop-filter: blur(15px);
        box-shadow: 1px 0 10px white;
        border-right: 2px solid rgba(225, 225, 225, .1);
        border-radius: 15px;
        z-index: 100;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        transform: transLateY(-44.5%) scale(0);
        transition: 0.4s ease-in-out;
    }
    height: 100%;
    background: #000 no-repeat;
    background-size: cover;
    background-position: center;
}

#media-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    a{
        text-decoration: none;
        font-weight: 600;
        color: white;
        margin: 10px 0;
        font-size: 28px;
        img{
            width: 80%;
            padding-left: 20%;
        }
    }
}


#pop_up.active{
transform: translateY(0%) scale(100%);
}






@media (max-width: 768px){
    .header{
        justify-content: space-between;
        padding: 15px 26px;
        .logo{
            width: 80%;
        }
        .navbar{
            .btnLogin-popup{
                font-size: 45px;
            }
            a{
                display: none;
            }
        }
    }
    .section{
        padding: 25px;
        .wrapper{
            .icon-close{
                font-size: 45px;
                padding: 25px;
            }
            width: 100%;
            height: 100%;
            padding: 15px;
        }
        .prof{
            left: 0;
            right: 0;
            width: 90%;
        }
        .text{
            h1{
                top: 350px;
                left: 20px;
                font-size: 65px;
                line-height: 60px;
            }
            p{
                width: 90%;
                left: 20px;
                top: 550px;
            }
        }
    }
}


@media (max-width: 400px){
    .header{
        .navbar{
            a{
                display: none;
            }
        }
    }
    .skills{
        width: 90%;
        left: 0;
    }
    .section{
        .prof{
            right: 0;
            width: 45vh;
        }
        .text{
            h1{
                top: 350px;
                left: 20px;
                font-size: 65px;
                line-height: 60px;
            }
            .skillh1{
                top: 100px;
                left: 50px;
                font-size: 65px;
            }
            p{
                width: 90%;
                left: 20px;
                top: 550px;
            }
        }
    }
}

